<div class="user-details">
  <h1>About Me</h1>
  <p>
    I am studying Computer Engineering at Iowa State University. Something that
    absolutely fascinates me about Software Engineering is how deep the river
    runs. It seems like the more I learn, the less I know. The ever evolving
    landscape of technology is something that I am really looking forward to.
    <br />
    <br />
    I am currently working on a project as a Software Engineer with a
    startup called Safety Scan LLC. The goal is to make laboratories and
    factories safer through the use of Computer Vision and Deep Learning.
    Cameras will be set up around potentially dangerous equipment and will
    notify users if there any issues with their safety equipment.
    <br />
    <br />
    Outside of software development, I am also an avid table tennis player and
    rock climber. Over the summer, I became infatuated with playing table tennis
    - although I'm admittedly not that good. As for rock climbing - I started
    way back in my freshman year of college, so I'm hoping to finish a V6 this
    year. (I promised myself Scarpas if I make it happen)!
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <!--Some imgs are in svg format bc I haven't updated devicon-->
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg"
      width="60"
      height="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg"
      width="60"
      height="60"
    />
    <i class="devicon-c-plain-wordmark colored"></i>
    <p>
      My primary coding languages are Python, Java, and C. Some other languages
      I'm familiar with include: JavaScript, Bash, Powershell, SQL
    </p>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg"
      width="60"
      height="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg"
      width="60"
      height="60"
    />
    <i class="devicon-nodejs-plain colored"></i>
    <p>
      I've worked with a variety of frameworks in the past, including Spring,
      NodeJS, and Express. I'm currently also working on some projects that deal
      with OpenCV and TensorFlow.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
      height="60"
      width="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
      height="60"
      width="60"
    />
    <p>
      My programming workflow centers around my customized Arch Linux distro,
      git, and VSCode. I'm also familiar with the JetBrains IDEs.
    </p>
  </div>
</div>
