<div class="user-details">
  <h1>My Expertise</h1>
  <p>
    Hi I'm Kevin, nice to meet you! I'm an enthusiastic, passionate, and
    knowledgeable student currently studying Computer Engineering at Iowa State
    University. As I look to graduate in Spring 2023, I'm currently looking for
    full time Software Engineering roles.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <!--Some imgs are in svg format bc I haven't updated devicon-->
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg"
      width="60"
      height="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg"
      width="60"
      height="60"
    />
    <i class="devicon-c-plain-wordmark colored"></i>
    <p>
      My primary coding languages are Python, Java, and C. Some other languages
      I'm familiar with: Bash, Powershell, SQL
    </p>
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg"
      width="60"
      height="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg"
      width="60"
      height="60"
    />
    <i class="devicon-nodejs-plain colored"></i>
    <p>
      I've worked with a variety of frameworks including Spring, NodeJS, and
      Express. I'm currently also working on some projects that deal with OpenCV
      and TensorFlow.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
      height="60"
      width="60"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
      height="60"
      width="60"
    />
    <p>
      My daily workflow centers around my customized Arch Linux distro, git, and
      VSCode. I'm also familiar with the JetBrains IDEs.
    </p>
  </div>
</div>
