<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="calendar" src="{{ "/assets/img/calendar.png" | prepend:
    site.baseurl }}" height="250" width="250"/>
  </div>
  <div class="contents-right">
    <h3>Dates and Duties</h3>
    <ul>
      <li>Java, Spring, Maven, CI/CD, mySQL, REST APIs, JDBC</li>
    </ul>
    <p>
      Dates and Duties was a calendaring application that I created with 3 other
      team members as part of semester long project class. Users were able to
      collaborate with others on events and tasks. The application stored all of
      this information in a mySQL database hosted on a remote server.
    </p>
    <a class="project-link" href="https://github.com/kevinlinvxd/datesandduties"
      >Source Code</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="parking" src="{{ "/assets/img/parking.png" | prepend: site.baseurl
    }}" height="250" width="250"/>
  </div>
  <div class="contents-right">
    <h3>Park@NM</h3>
    <ul>
      <li>CRUD, JavaScript, Node.js, Express, SQLite</li>
    </ul>
    <p>
      As part of Northwestern Mutual's Tech Intern Hackathon, our team created a
      JavaScript Web Application that allowed users to enter a raffle for a
      chance to win a parking spot. The web app allowed owners of parking spots
      to give up their spots up to a week in advance.
    </p>
  </div>
</div>
