<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="calendar" src="{{ "/assets/img/calendar.png" | prepend:
    site.baseurl }}" height="300" width="300"/>
  </div>
  <div class="contents">
    <h3>Dates and Duties</h3>
    <ul>
      <li>Java, Spring, Maven, CI/CD, mySQL, REST APIs</li>
    </ul>
    <p>
      Dates and Duties is a calendaring application that I created with 3 other
      team members as part of semester long project class. The application
      stored user information in a mySQL database (accounts, events, and tasks)
      in addition to collaborative projects.
    </p>
    <a class="project-link" href="https://github.com/kevinlinvxd/datesandduties"
      >Source Code</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="parking" src="{{ "/assets/img/parking.png" | prepend: site.baseurl
    }}" height="300" width="300"/>
  </div>
  <div class="contents">
    <h3>Park@NM</h3>
    <ul>
      <li>JavaScript, Node.js, Express, SQLite</li>
    </ul>
    <p>
      As part of Northwestern Mutual's Tech Intern Hackathon, our team created a
      JavaScript Web Application that allowed users to enter in a raffle to
      potentially win a parking spot for certain days. Owners of parking spots
      are able to give up their spots a week in advance.
    </p>
  </div>
</div>
